<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
	<connectionStrings>
  <remove name="LocalSqlServer" />
  <add name="LocalSqlServer" connectionString="Data Source=.;&#xD;&#xA;             Initial Catalog=BBS;&#xD;&#xA;             Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="BBSConnectionString" connectionString="Data Source=.;Initial Catalog=BBS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.serviceModel>
  <behaviors>
   <serviceBehaviors>
    <behavior name="">
     <serviceMetadata httpGetEnabled="true" />
     <serviceDebug includeExceptionDetailInFaults="false" />
    </behavior>
   </serviceBehaviors>
  </behaviors>
  <bindings>
   <customBinding>
    <binding name="Service.customBinding0">
     <binaryMessageEncoding />
     <httpTransport />
    </binding>
    <binding name="Global.customBinding0">
     <binaryMessageEncoding />
     <httpTransport />
    </binding>
   </customBinding>
  </bindings>
  <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
   multipleSiteBindingsEnabled="true" />
  <services>
   <service name="Service">
    <endpoint address="" binding="customBinding" bindingConfiguration="Service.customBinding0"
     contract="Service" />
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
   </service>
   <service name="Global">
    <endpoint address="" binding="customBinding" bindingConfiguration="Global.customBinding0"
     contract="Global" />
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
   </service>
  </services>
 </system.serviceModel>
</configuration>
